<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="charity-campaign card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ site.data.content.charity-campaign.image }}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <img src="{{ site.data.content.charity-campaign.logo }}" class="campaign-logo">
              <h5 class="card-title">{{ site.data.content.charity-campaign.title }}</h5>
              <p class="card-text">{{ site.data.content.charity-campaign.content }}</p>
              <a class="btn btn-primary btn-sm" href="{{ site.data.content.charity-campaign.link }}" target="_blank">Vedi campagna</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>