<!-- Header -->
<header id="header">
  <div class="row">
    <div class="col-12">
      <div class="hero">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-sm-12 col-md-8">
            <h1>{{ page.headline }}</h1>
            <p class="lead">
              {{ page.subheadline }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
      <div class="jumbotron text-center">
        <form
          name="link-generator"
          class="d-none d-md-block"
          onsubmit="return false;"
        >
          <div class="input-group">
            <input
              type="text"
              name="amazon-link"
              class="form-control"
              placeholder="{{ page.placeholder }}"
              aria-label=""
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="btn btn-primary">
                {{ page.call-to-action }}
              </button>
            </div>
          </div>
        </form>
        <form name="link-generator" class="d-block d-sm-none d-md-none">
          <div class="form-group">
            <input
              type="text"
              name="amazon-link"
              class="form-control"
              placeholder="{{ page.placeholder }}"
              aria-label=""
              aria-describedby="basic-addon2"
            />
          </div>
          <button class="btn btn-primary">
            {{ page.call-to-action }}
          </button>
        </form>
        <br />
        <p>
          {{ page.sub-call-to-action }}
        </p>
      </div>
    </div>
  </div>
  {% include charity-campaign.html %}
</header>

